.body{ 
background-color: black;

 }

.navbar{
  font-family: 'Island Moments',serif;
}
.archive{
    padding-top: 30px;
    font-family: 'Island Moments', bold;
    font-size: 60px;
    }